# IntelliJ files
.idea/

# Gradle project management directories
.gradle/
gradle/
build/
out/

# Gradle executable files
gradlew
gradlew.bat

# Cache of project
.gradletasknamecache

# Mac generated
.DS_Store